*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
}
body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
    max-width: 100%;
}
main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 25px;
    margin: 0;
    max-width: 100%;
}

.form-container {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: calc(100vh - 100px);
}
.form-control {
    margin-bottom: 15px;
    width: 100%;
}
.form-control label {
    display: block;
    color: #333;
    margin-bottom: 5px;
}
.form-control input, .form-control textarea, .form-control select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

#category option:first-child{
    display: none;
}

.form-control button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-control button:hover {
    background-color: #555;
}

.priceCategory, .countDate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}
.count-control{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.totalCount, .filterCount{
    border: 1px solid #ddd;
    position: relative;
}
.totalCount::before, .filterCount::before{
    position: absolute;
    bottom: 100%;
}
.totalCount::before{
    width: 80px;
    content: "All Products: "; 
}
.filterCount::before {
    content: var(--my-content);
    right: 0;
}

.message{
    color: red;
}

.table-container{
    width: 100%;
}

#productTable {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th{
    height: 50px;
}